
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body{
  font-family: 'Laila';
}

.encase div{
  margin-top: 50%;
}

.tiles {
  height: 33%;
}

.newPost {
  position: fixed;
  bottom: 10%;
  right: 5%;
}

h4 {
  display: inline-block;
}

.postItem {
  font-size: 120%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.postItem p {
  color: black; 
}

.col-1 {
  width: 25%;
  float: left;
}

.submit {
  color: white;
}

.edits {
  margin-left: 2%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.postItem li {
  list-style: none;
}

.postItem {
  border: 2px solid black;
  margin-top: 20px;
  border-radius: 2px;
}

.editPost {
  width: 100%;
}

.add{
  box-shadow: none;
}

.comment-header {
  display: inline-block;
  width: 50%;
}

.comment-button {
  margin-left: 5%;
}

.FourOhFour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.FourOhFour .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: overlay;
  color: white;
}
.FourOhFour .code {
  font-family: 'Alfa Slab One', cursive;
  font-size: 144px;
  height: 100vh;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.FourOhFour h1 {
  color: white;
}
